*.zip
# ==========================================
# VS Code (Visual Studio Code)
# ==========================================
.vscode/
*.code-workspace

# Extensiones comunes de VS Code
.history/
.ionide/

# ==========================================
# PyCharm / JetBrains IDEs
# ==========================================
.idea/
*.iml
*.iws
*.ipr
out/

# ==========================================
# Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class